<div class="finder">
  <svg id="pop" width="100%" height="100%" viewBox="0 0 388 110" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.41421;">
  <path d="M0.18,85.18l0,-85l387,0l0,85l-45,0l-15,23.89l-16,-23.89l-311,0Z" style="fill:#333;stroke-width:0.21px;stroke:#000;"/></svg>
  <input name="search-input" id="input" type="text" placeholder="Search for artist"
    [(ngModel)]='input'
    (keyup.enter)='search()'
    (focusout)='hideSearch()'
  >
  <img class="search-btn" src="../../img/search_alpha.png" (click)='finder()'>
</div>
