.before-search {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.item-1 {
  position: relative;
  flex-grow: 1;
}

.content {
  z-index: 99;
  background: #fafafa;
  margin-bottom: 90px;
}
