.details-wrapper {
  display: flex;
  position: relative;
  width: 1000px;
  margin: 0 auto;
  background-color: #fafafa;
}

.image {
  position: relative;
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
  box-shadow: 1px 3px 10px #e1e1e1;
}

.item + .item {
  margin-left: 4%;
}

.info {
  position: relative;
  width: 60%;
  margin-left: 4px;
}

.info > h1 {
  text-transform: uppercase;
  font-family: sans-serif;
  color: #333;
}

.back {
  cursor: pointer;
  position: relative;
  font-size: 14px;
  width: 1%;
  transform: scale(6);
  padding-top: 10px;
  padding-left: 14px;
}

a {
  text-decoration: none;
  color: #333;
}

.info-1-wrapper {
  position: relative;
  top: 3vh;
}

.info-1-wrapper {
  display: flex;
  justify-content: space-between;
}

.related > h1 {
  margin-bottom: 10px;
  color: rgba(51, 51, 51, 0.81);
  text-transform: uppercase;
  font-family: 'Exo 2'
}

.toptracks > h1 {
  margin-bottom: 10px;
  color: rgba(51, 51, 51, 0.81);
  text-transform: uppercase;
  font-family: 'Exo 2'
}

.tracknmb {
  display: flex;
}

.nmb {
  padding: 8px;
  background: rgba(251,93,88,1);
  transform: skew(-20deg);
}

.nmb > p {
  color: white;
  transform: skew(20deg);
}

.nmb-name {
  padding: 8px;
  background: rgba(45,45,45,1);
  background: -moz-linear-gradient(left, rgba(45,45,45,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(45,45,45,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(left, rgba(45,45,45,1) 0%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(left, rgba(45,45,45,1) 0%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(left, rgba(45,45,45,1) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to right, rgba(45,45,45,1) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2D2D2D', endColorstr='#00000', GradientType=1 );
  transform: skew(-20deg);
  margin-bottom: 10px;
}

.nmb-name > p {
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  transform: skew(20deg);
  width: 200px;
}

.button {
  cursor: pointer;
  background-color: #2ebd59;
  color: #fff;
  border-radius: 500px;
  padding: 12px 47px 12px;
  border-width: 0;
  letter-spacing: 1.2px;
  min-width: 130px;
  font-size: 14px;
  text-transform: uppercase;
  white-space: normal;
}

.header-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.related-artist {
  cursor: pointer;
  display: flex;
  padding: 1px 10px;
}

.related-item {
  border: 2px solid rgba(251,93,88,1);
  border-radius: 50%;
  background-size: cover;
  position: relative;
  height: 60px;
  width: 60px;
}

.related-artist p {
  padding-top: 5%;
  font-family: sans-serif;
  margin-left: 4%;
  color: #333;
  text-transform: uppercase;
}

.albums-wrapper {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.album-title {
  padding: 20px 3%;
  color: rgba(51, 51, 51, 0.81);
  text-transform: uppercase;
  font-family: 'Exo 2';
}

.album-image {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  border: 4px solid rgba(235,85,137,1);
}

.album {
  cursor: pointer;
  height: 200px;
  width: 200px;
  margin-right: 5%;
  margin-bottom: 50px;
  box-shadow: 1px 3px 10px #e1e1e1;
}

.album:hover {
  box-shadow: 1px 1px 30px rgba(51, 51, 51, 0.71);
}

.album > p {
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.play {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  bottom:0;
  padding: 5px;
  color: white;
  z-index: 99;
  background-color: #000;
  border-left: 1px solid white;
  transition: all 0.4ms linear;
}

.play:hover {
  background-color: rgba(251,93,88,1);
  border: none;
  color: white;
}
