<div class="back">
  <a routerLink='/explore'>&lt;</a>
</div>
<div class="details-wrapper">
  <div *ngIf="artist" [style.background-image]="'url(' + artist.image + ')'" class="image item"></div>
  <div class="info item">
    <div class="header-info">
      <h1 *ngIf="artist">{{artist.name}}</h1>
      <a target="_blank" class="button" *ngIf="artist" [href]="artist.url">Listen on Spotify</a>
    </div>
    <div class="info-1-wrapper">
      <div class="toptracks">
        <h1>Popular songs</h1>
        <div *ngFor='let item of toptracks; let i = index'>
          <div class="tracknmb">
                <div class="nmb"><p>{{i+1}}</p></div>
                <div class="nmb-name"><p>{{item.name}}</p>
                  <div [class]='item.id + " play"' (click)="play($event)">
                    <div>&#9658;</div>
                    <video width=0 height=0 [id]='item.id'><source [src]='item.preview_url' type="audio/mpeg"></video>
                   </div>
                </div>
          </div>
        </div>
      </div>

      <div class="related">
        <h1>Related Artists</h1>
        <div class="related-wrapper">
          <div routerLinkActive='active' [routerLink]="['/artist', item.id, 'details']" *ngFor='let item of related' class="related-artist">
            <div class="related-item" [style.background-image]="'url(' + item.image + ')'" ></div>
            <p class="related-p">{{item.name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h1 class="album-title">Albums</h1>
  <div class="albums-wrapper">
    <div class="album" *ngFor="let item of albums">
      <a target="_blank" [href]="item.url">
        <div class="album-image" [style.background-image]="'url(' + item.image + ')'">
      </div></a>
      <p>{{item.name}}</p>
    </div>
</div>
